#outer-form-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  #middle-form-container {
    display: table-cell;
    vertical-align: middle;

    #inner-form-container {
      margin-left: auto;
      margin-right: auto;
      width: 26em;
      padding: 8em;
      background: #f5f6f9;
      border-radius: .25rem;

      form {
        width: 100%;
        max-width: 19em;
        margin: 0 auto;

        label {
          width: 5em !important;
        }

        .pure-controls {
          margin: 0 !important;
          text-align: center;
          margin-top: 2em !important;
        }
      }

      #invalid-message {
        height: 2em;
        line-height: 2em;
        color: #ca3d3c;
      }
    }
  }
}
