<div id="outer-form-container">
    <div id="middle-form-container">
        <div id="inner-form-container">
            <app-spinner *ngIf="showSpinner"></app-spinner>

            <form class="pure-form pure-form-aligned" *ngIf="!showSpinner" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="pure-control-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" required [(ngModel)]="loginModel.username" name="Username">
                </div>

                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" required [(ngModel)]="loginModel.password" name="Password">
                </div>

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">
                        Submit
                    </button>
                    <p id="invalid-message"><span *ngIf="displayErrorMessage">Invalid login. Please try again.</span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
