@import '../../globals';

#container {
  width: 35em;
  margin: 0 auto;

  #title {
    background: $primary-theme-color;
    color: $white;
    $title-height: 3em;
    height: $title-height;
    line-height: $title-height;
    padding: 0 0.5em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  mat-card {
    height: 12em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    table {
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }

    mat-card-actions {
      margin: 0;
    }

    #login-error {
      color: #f44336;
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5em;
    }

    mat-spinner {
      margin: 0 auto;
    }
  }
}
